<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <appSettings>
    
    <add key="flutterwave_secret" value="FLWSECK_TEST-*************************-X" />
    <add key="flutterwave_server" value="https://api.flutterwave.com/v3/payments" />
   
  </appSettings>
</configuration>